<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - coouncil</title>
    <link rel="stylesheet" href="~/css/site.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="~/js/jquery-3.3.1.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
     <!-- Compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">*@
    <!-- <link  rel="stylesheet" href="~\materialize\css\materialize.min.css"> -->
    <link  href="~/materialize/css/materialize.min.css " rel="stylesheet"/>

    <!-- Compiled and minified JavaScript --> 
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>*@
       <script src="~/materialize/js/materialize.min.js">

       </script>     

    <script src="~/js/site.js"></script>
   
</head>
<body >
    <br>
    
    <div class="container">
            <div class="row">
        <div class="col s12 center-align">
<img src="~/images/icon/250px-Emblem_of_Maldives.svg.png" style="width: 50px;">
<h5 class="dh">އަރިއަތޮޅު ދެކުނުބުރީ މާމިގިލީ ކައުންސިލްގެ އިދާރާ</h5>
<h6>
    Secretariat of the South Ariatholhu Maamigili Council
</h6>
        </div>

        
    </div>

          <nav class="#d50000 red accent-4 ">

    <div class="nav-wrapper left ">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html" class="dh"><img src="~/images/icon/eng.png" style="width: 35px;"> </a></li>

        <li><a href="badges.html" class="dh">  ގުޅުއްވާ</a></li>

        <li><a href="badges.html" class="dh">  ލިންކުތައް</a></li>

        <li><a class="dropdown-trigger dh" href="#!" data-target="dropdown5">   <i class="material-icons left">arrow_drop_down</i>  ޑައުންލޯޑް</a></li>
       
        <li><a class="dropdown-trigger dh" href="#!" data-target="dropdown4">   <i class="material-icons left">arrow_drop_down</i> ޢިއުލާން / އިސްތިހާރު</a></li>

       

        <li><a class="dropdown-trigger dh" href="#!" data-target="dropdown3">   <i class="material-icons left">arrow_drop_down</i> ގެލެރީ</a></li>
        

        <li><a href="badges.html" class="dh">ޙަބަރު</a></li>
        <li><a class="dropdown-trigger dh" href="#!" data-target="dropdown2">   <i class="material-icons left">arrow_drop_down</i> އދ.މާމިގިލި    </a></li>
       
        <li><a class="dropdown-trigger dh" href="#!" data-target="dropdown1">   <i class="material-icons left">arrow_drop_down</i> އދ.މާމިގިލި ކައުންސިލް   </a></li>
        <li><a  href="@Url.Action("Index","Home")"class="dh">ފުރަތަމަ ސަފްހާ</a></li>

      </ul>
    </div>
  </nav>
          <ul class="sidenav right-align #424242 grey darken-3 center-align " id="mobile-demo">
              <br />
              <img src="~/images/icon/250px-Emblem_of_Maldives.svg.png" class="" style="width:14%;" />
              <div class="col s12 center-align">
                 
                  <h6 class="dh">އަރިއަތޮޅު ދެކުނުބުރީ މާމިގިލީ ކައުންސިލްގެ އިދާރާ</h6>
                  <h6>
                      Secretariat of the South Ariatholhu Maamigili Council
                  </h6>

              </div>
              <br />
              <li><a class=" dh right-align " href="">ފުރަތަމަ ސަފްހާ</a></li>
              <li>
                  <a class="dropdown-trigger dh right-align" href="#!" data-target="dropdown10">
                      <i class="material-icons left right-align">arrow_drop_down</i> އދ.މާމިގިލި ކައުންސިލް
                  </a>
              </li>
              <li>
                  <a class="dropdown-trigger dh right-align" href="#!" data-target="dropdown9">
                      <i class="material-icons left right-align">arrow_drop_down</i> އދ.މާމިގިލި
                  </a>
              </li>

              <li><a href="badges.html" class="dh right-align">ޙަބަރު</a></li>
              <li>
                  <a class="dropdown-trigger dh right-align" href="#!" data-target="dropdown8">
                      <i class="material-icons left right-align">arrow_drop_down</i> ގެލެރީ
                  </a>
              </li>
              <li>
                  <a class="dropdown-trigger dh right-align" href="#!" data-target="dropdown7">
                      <i class="material-icons left right-align">arrow_drop_down</i> ޢިއުލާން / އިސްތިހާރު
                  </a>
              </li>
              <li>
                  <a class="dropdown-trigger dh right-align" href="#!" data-target="dropdown6">
                      <i class="material-icons left right-align">arrow_drop_down</i>  ޑައުންލޯޑް
                  </a>
              </li>
              <li><a href="badges.html" class="dh right-align">  ލިންކުތައް</a></li>
              <li><a href="badges.html" class="dh right-align">  ގުޅުއްވާ</a></li>

              <li><a href="badges.html" class="dh right-align"><img src="~/images/icon/eng.png" style="width: 35px;"> </a></li>










          </ul>


          <ul id="dropdown6" class="dropdown-content">
          <li><a href="" class="dh right-align" >  ފޯމް</a></li>
          <li><a href="#!" class="dh right-align">  ޤަވައިދު</a></li>
          <li><a href="#!" class="dh right-align">    އުސޫލު</a></li>
          <li><a href="#!" class="dh right-align">    ރިޕޯޓް</a></li>
          <li><a href="#!" class="dh right-align">    ލިޔުންތައް</a></li>
              </ul>
         <ul id="dropdown7" class="dropdown-content">
  <li><a href="#!" class="dh right-align" >މާމިގިލީ ކައުންސިލްގެ އިޢުލާން</a></li>
  <li><a href="#!" class="dh right-align"> މުޢައްސަސާތަކުގެ އިޢުލާން</a></li>
  <li><a href="#!" class="dh right-align">  އަމިއްލަ ފަރާތްތަކުގެ އިސްތިހާރު</a></li>
      </ul>
              <ul id="dropdown8" class="dropdown-content">
  <li><a href="@Url.Action("Index","Gallery")" class="dh right-align" >ފޮޓޯ</a></li>
  <li><a href="" class="dh right-align"> ވީޑިއޯ</a></li>
      </ul>
 <ul id="dropdown9" class="dropdown-content">
  <li><a href=@Url.Action("Info","Link",new{id ="IslandInfo"})   class="dh right-align" >ރަސާއި ބެހޭ މައުޟޫމާތު</a></li>
  <li><a href="Link/Info/GO" class="dh right-align"> ސަރުކާރުގެ އިދާރާތައް</a></li>
  
  <li><a href="Link/Info/airpor" class="dh right-align"> ވިލާ އެއަރޕޯޓް</a></li>
  <li><a href="#!" class="dh right-align"> މާމިގިލި ބައިނަލް އަޤްވާމީ  ބަނދަރު</a></li>LocalAnounce
  <li><a href="#!" class="dh right-align"> މާމިގިލީގެ މުހިއްމު ތަންތަން</a></li>
  <li><a href="#!" class="dh right-align"> ގެސްޓް ހައުސްތައް </a></li>
  <li><a href="#!" class="dh right-align">  ކެފޭ / ރެސްޓޯރަންޓް </a></li>
  <li><a href="#!" class="dh right-align">  ވިޔަފާރި </a></li>
      </ul>
                    <ul id="dropdown10" class="dropdown-content">
  <li><a href="#!" class="dh right-align" >ކައުންސިލަރ</a></li>
  <li><a href="#!" class="dh right-align">ހިންގާ ޤަވައިދު</a></li>
  
  <li><a href="#!" class="dh right-align"> ޖަލްސާ</a></li>
  <li><a href="#!" class="dh right-align"> މަސްއޫލިއްޔަތާއި</a></li>
  <li><a href="#!" class="dh right-align"> ހިދުމަތްތައް</a></li>
  <li><a href="#!" class="dh right-align"> އިދާރީ އޮނިގަނޑު</a></li>
  <li><a href="#!" class="dh right-align"> ވިސަން މިސަން </a></li>
  <li><a href="#!" class="dh right-align">  ފްލެޓްތަކާއި،މަޝްރޫއުތައް </a></li>
      </ul>
     <ul id="dropdown5" class="dropdown-content">
  <li><a href="@Url.Action("Form","Download")" class="dh right-align" >  ފޯމް</a></li>
  <li><a href="@Url.Action("Law","Download")" class="dh right-align">  ޤަވައިދު</a></li>
  <li><a href="@Url.Action("Ausule","Download")" class="dh right-align">    އުސޫލު</a></li>
  <li><a href="@Url.Action("Report","Download")" class="dh right-align">    ރިޕޯޓް</a></li>
  <li><a href="@Url.Action("Documents","Download")" class="dh right-align">    ލިޔުންތައް</a></li>
      </ul>
    <ul id="dropdown4" class="dropdown-content">
  <li><a href="@Url.Action("CouncilAnounce","Anounce")" class="dh right-align" >މާމިގިލީ ކައުންސިލްގެ އިޢުލާން</a></li>
  <li><a href="@Url.Action("OrganizationAnounce","Anounce")" class="dh right-align"> މުޢައްސަސާތަކުގެ އިޢުލާން</a></li>
  <li><a href="@Url.Action("LocalAnounce","Anounce")" class="dh right-align">  އަމިއްލަ ފަރާތްތަކުގެ އިސްތިހާރު</a></li>
      </ul>

      <ul id="dropdown3" class="dropdown-content">
  <li><a href="Gallery/Index/photo" class="dh right-align" >ފޮޓޯ</a></li>
  <li><a href="" class="dh right-align"> ވީޑިއޯ</a></li>
      </ul>

    <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!" class="dh right-align" >ކައުންސިލަރ</a></li>
  <li><a href="#!" class="dh right-align">ހިންގާ ޤަވައިދު</a></li>
  
  <li><a href="#!" class="dh right-align"> ޖަލްސާ</a></li>
  <li><a href="#!" class="dh right-align"> މަސްއޫލިއްޔަތާއި</a></li>
  <li><a href="#!" class="dh right-align"> ހިދުމަތްތައް</a></li>
  <li><a href="#!" class="dh right-align"> އިދާރީ އޮނިގަނޑު</a></li>
  <li><a href="#!" class="dh right-align"> ވިސަން މިސަން </a></li>
  <li><a href="#!" class="dh right-align">  ފްލެޓްތަކާއި،މަޝްރޫއުތައް </a></li>

 

  
</ul>
   <ul id="dropdown2" class="dropdown-content" >
  <li><a href=@Url.Action("Info","Link",new{id ="IslandInfo"})  class="dh right-align" >ރަސާއި ބެހޭ މައުޟޫމާތު</a></li>
  <li><a href="Link/Info/GO" class="dh right-align"> ސަރުކާރުގެ އިދާރާތައް</a></li>
  
  <li><a href="Link/Info/airport" class="dh right-align"> ވިލާ އެއަރޕޯޓް</a></li>
  <li><a href="#!" class="dh right-align"> މާމިގިލި ބައިނަލް އަޤްވާމީ  ބަނދަރު</a></li>
  <li><a href="#!" class="dh right-align"> މާމިގިލީގެ މުހިއްމު ތަންތަން</a></li>
  <li><a href="#!" class="dh right-align"> ގެސްޓް ހައުސްތައް </a></li>
  <li><a href="#!" class="dh right-align">  ކެފޭ / ރެސްޓޯރަންޓް </a></li>
  <li><a href="#!" class="dh right-align">  ވިޔަފާރި </a></li>

 

  
</ul>
  <br>
    @RenderBody()

    </div>
   

  <footer class="page-footer #212121 grey darken-4 white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12 right">
                <h5 class="white-text" class="" style="font-family: Faruma">އަރިއަތޮޅު ދެކުނުބުރީ މާމިގިލީ ކައުންސިލްގެ އިދާރާ</h5>
                <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
              </div>
           
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
</html>
